html{
    background-image: url(fundo.jpg);
}


.info{
    background-color: rgba(185, 185, 185, 0.623);
    width: 300px;
    border-radius: 10px;
    text-align: center;
    font-family: Arial;
    margin: auto;  
}

body{
    display: flex;
    justify-content: space-around;
}