h3{
    color: red;
}

.feira h3{
    color: goldenrod;
}

.feira{
    color: blueviolet;
}

.lista-1{
    background-color: rgb(52, 33, 156);
}

.lista-2{
    background-color: dimgrey;
}

    button{
        background-color: #1ee2e7;
        border: none;
        border-radius: 3px;
        color: aliceblue;
        text-transform: uppercase;
        height: 45px;
        width: 103px;
        letter-spacing: 1px;
        font-weight: bold;

    }

        
        
    